@charset "UTF-8";
*{
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	unselectable : on;
	-ms-user-select: none;
	user-select: none;
}
.gameContainer{
	height:auto;
	overflow:hidden;
}
.scoreBar{
	width:200px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	font-size: 25px;
	height:60px;
	margin:auto;
	margin-top: 40px;
	background-color: lightblue;
}
.game {
	margin:auto;
	margin-top: 20px;
	display: block;
	background-color:red;
	list-style: none;
}
.cell{
	vertical-align: middle;
  	display: table-cell;
	float:left;
	background-color: darkred;	
	text-align: center;
	color: cyan;
}