*{
	
	padding: 0;
}
#scoreBar{

	width:200px;
	height:60px;
	margin:auto;
	margin-top: 40px;
	background-color: lightblue;
}
.game {
	margin:auto;
	  
	margin-top: 20px;
	width:512px;
	height: 512px;
	display: block;
	background-color:red;
	list-style: none;
}
.cell{
	margin:4px;
	vertical-align: middle;
  	display: table-cell;
	width: 120px;
	height: 120px;
	float:left;
	line-height: 120px;
	background-color: darkred;	
	vertical-align: middle;
	text-align: center;
	font-size: 45px;
	color: cyan;


}